---
    import Avatar from "../Icons/Avatar.jsx";
    interface Props {
        role: String;
    }

    //Classes Tailwind
    const messageClass = `
    flex
    flex-col
    gap-4
    text-white 
    px-2     
    ${Astro.props.role === 'assistant' ? 'border-s-4 ' : 'border-r-4 '}
    ${Astro.props.role === 'assistant' ? 'border-sky-500' : 'border-slate-500'}
    `;

    const styleAssistant = `    
    p-4    
    backdrop-blur-sm
    shadow-sm
    ${Astro.props.role === 'assistant' ? 'shadow-blue-400' : ''}
    ${Astro.props.role === 'assistant' ? 'bg-slate-800' : ''}
    rounded
    `;

    const styleAvatar = `
        flex 
        w-full
        h-full
        gap-2
        items-center
        ${Astro.props.role === 'assistant' ? 'justify-start' : 'justify-end'}
    `;
---

<div class={messageClass} >
    <div class={styleAvatar}>
        <Avatar role={Astro.props.role}/>
        <p class="font-bold">{Astro.props.role}</p>        
    </div>
    <p class={styleAssistant}>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, eveniet consequuntur odio tenetur voluptatibus labore ipsa, placeat veritatis magnam dolor distinctio recusandae? Deserunt veniam nesciunt quam laborum explicabo velit cumque.</p>
</div>